<template name="camera">
	<div class="panel panel-default" id="txtAdd" >
	  	<div class="panel-heading">Camera</div>
	  		<div class="panel-body">
	  			<form action="">
	  				<div class="form-group">
	  						<div class="container">
	  							<div class="row">
	  								<button id="take_picture" type="button" class="btn btn-info" style="margin:2px">Take a picture</button>
	  							</div>
	  							<div class="row">
	  								<button id="take_edible" type="button" class="btn btn-info" style="margin:2px">Capture Editable Photo</button>
	  							</div>
	  							<div class="row">
	  								<button id="get_from_library" type="button" class="btn btn-info" style="margin:2px">From Photo Library</button>
	  							</div>
	  							<div class="row">
	  								<button id="get_from_album" type="button" class="btn btn-info" style="margin:2px">From Photo Album</button>
	  							</div>
	  							<div class="row">
	  								<button id="store_to_album" type="button" class="btn btn-info" style="margin:2px">Add Photo to Album</button>
	  							</div>
	  						<div class="container">
	  							<img style="display:none;" id="largeImage" src="" />
								<img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
	  						</div>
	  						
	  					</div>
	  				</div>
	  			</form>
	  		</div>
	 </div>
</template>